.level-1 {
  display: flex;
  height: 65vh;
  justify-content: center;

  @media only screen and (max-width: 900px) {
    position: relative;
  }

  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-between;
  }

  &__area-1 {
    width: 110rem;
    color: #fff;
    background-image: url(../img/desktop-image-hero-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      background-image: url(../img/mobile-image-hero-1.jpg);
      height: 60%;
      width: 100vw;
      position: relative;
    }

    &-text {
      padding: 2rem;
      margin-right: -3rem;

      @media only screen and (max-width: 900px) {
        padding: 1.7rem;
        margin-right: -2rem;
      }
      @media only screen and (max-width: 600px) {
        margin: 0 auto;
      }
    }

    &-nav ul {
      margin: 2.4rem;
      display: flex;

      &.active {
        @media only screen and (max-width: 600px) {
          left: 0;
        }
      }

      @media only screen and (max-width: 900px) {
        margin: 2rem;
      }
      @media only screen and (max-width: 600px) {
        position: fixed;
        margin: 0;
        left: -300%;
        top: 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 0 5px 5px;
        width: 20%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.5);
        background-color: #fff;
        color: #000;
        z-index: 1000;
      }
    }

    &-nav ul li {
      display: inline;
      padding: 1.2rem;
      font-size: 0.8rem;
    }

    &__hamburger {
      display: none;

      @media only screen and (max-width: 600px) {
        display: block;
        // position: absolute;
        position: fixed;
        right: 1.5rem;
        top: 1.5rem;
        cursor: pointer;
      }

      &-bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
        transition: all 0.3s;

        &:hover {
          margin: 6px auto;
        }
      }
    }
  }

  &__area-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;
    width: 70rem;
    position: relative;

    @media only screen and (max-width: 900px) {
      padding: 8rem 2.1rem;
    }

    @media only screen and (max-width: 600px) {
      height: 40%;
      width: 100vw;
      padding: 9rem 4rem;
      display: flex;
      position: relative;
    }

    &-main {
      font-size: 2.3rem;
      margin-bottom: 1.3rem;

      @media only screen and(max-width: 900px) {
        font-size: 1.7rem;
      }
      @media only screen and(max-width: 600px) {
        font-size: 2rem;
      }
    }

    &-text {
      color: rgb(155, 153, 153);
      line-height: 1.4;
      font-size: 0.7rem;

      @media only screen and(max-width: 900px) {
        line-height: 1.2;
        width: 90%;
      }
      @media only screen and(max-width: 600px) {
        line-height: 1.4;
        width: 90%;
      }
    }

    &-subtext {
      text-transform: uppercase;
      letter-spacing: 0.8rem;
      padding-top: 1rem;
      margin-bottom: 3rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      @media only screen and(max-width: 900px) {
        letter-spacing: 0.5rem;
      }
      @media only screen and(max-width: 600px) {
        margin-bottom: -7rem;
      }

      span {
        font-size: 1.5rem;
      }

      &:hover {
        color: #aaa;
      }
    }

    &-movements {
      background-color: #000;
      color: #fff;
      font-size: 1.4rem;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1rem 2rem;
      letter-spacing: 1rem;
      color: #aaa;
      cursor: pointer;

      @media only screen and(max-width: 900px) {
        font-size: 1rem;
        padding: 1rem;
      }
      @media only screen and(max-width: 600px) {
        padding: 0.5rem 1rem;
        position: absolute;
        left: auto;
        top: -2.2rem;
        right: 0;
        bottom: auto;
      }
    }

    &lt:hover {
      background-color: #aaa;
    }
  }
}

.active #two {
  opacity: 0;
}
.active #one {
  transform: translateY(8px) rotate(45deg);
}
.active #three {
  transform: translateY(-8px) rotate(-45deg);
}

.level-2 {
  display: flex;
  height: 35vh;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 10rem;
  }

  &-img1 {
    width: 31.3%;
    height: 100%;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
  &-img2 {
    width: 32.3%;
    height: 100%;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &__desc {
    padding: 2rem;
    width: 37.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: 900px) {
      width: 33%;
      padding: 2rem 1rem;
      line-height: 1.1;
    }

    &-header {
      text-transform: uppercase;
      padding: 1rem 0;
      letter-spacing: 0.3rem;

      @media only screen and (max-width: 900px) {
        font-size: 0.71rem;
        margin-bottom: 0.1rem;
      }
    }

    &-text {
      color: rgb(155, 153, 153);
      line-height: 1.4;
      font-size: 0.7rem;
    }

    @media only screen and (max-width: 900px) {
      line-height: 1.1;
    }
    @media only screen and (max-width: 600px) {
      width: 93%;
      line-height: 1.6;
    }
  }
}
