* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

@media only screen and (max-width: 600px) {
  a {
    color: #000;
  }
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

li {
  list-style: none;
}

.level-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 900px) {
  .level-1 {
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .level-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 95vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.level-1__area-1 {
  width: 110rem;
  color: #fff;
  background-image: url(../img/desktop-image-hero-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .level-1__area-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url(../img/mobile-image-hero-1.jpg);
    height: 60%;
    width: 100vw;
    position: relative;
  }
}

.level-1__area-1-text {
  padding: 2rem;
  margin-right: -3rem;
}

@media only screen and (max-width: 900px) {
  .level-1__area-1-text {
    padding: 1.7rem;
    margin-right: -2rem;
  }
}

@media only screen and (max-width: 600px) {
  .level-1__area-1-text {
    margin: 0 auto;
  }
}

.level-1__area-1-nav ul {
  margin: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .level-1__area-1-nav ul.active {
    left: 0;
  }
}

@media only screen and (max-width: 900px) {
  .level-1__area-1-nav ul {
    margin: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .level-1__area-1-nav ul {
    position: fixed;
    margin: 0;
    left: -300%;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0 5px 5px;
    width: 20%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    color: #000;
  }
}

.level-1__area-1-nav ul li {
  display: inline;
  padding: 1.2rem;
  font-size: 0.8rem;
}

.level-1__area-1__hamburger {
  display: none;
}

@media only screen and (max-width: 600px) {
  .level-1__area-1__hamburger {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer;
  }
}

.level-1__area-1__hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.level-1__area-1__hamburger-bar:hover {
  margin: 6px auto;
}

.level-1__area-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem;
  width: 70rem;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .level-1__area-2 {
    padding: 8rem 2.1rem;
  }
}

@media only screen and (max-width: 600px) {
  .level-1__area-2 {
    height: 40%;
    width: 100vw;
    padding: 9rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}

.level-1__area-2-main {
  font-size: 2.3rem;
  margin-bottom: 1.3rem;
}

@media only screen and (max-width: 900px) {
  .level-1__area-2-main {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .level-1__area-2-main {
    font-size: 2rem;
  }
}

.level-1__area-2-text {
  color: #9b9999;
  line-height: 1.4;
  font-size: 0.7rem;
}

@media only screen and (max-width: 900px) {
  .level-1__area-2-text {
    line-height: 1.2;
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .level-1__area-2-text {
    line-height: 1.4;
    width: 90%;
  }
}

.level-1__area-2-subtext {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 900px) {
  .level-1__area-2-subtext {
    letter-spacing: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .level-1__area-2-subtext {
    margin-bottom: -7rem;
  }
}

.level-1__area-2-subtext span {
  font-size: 1.5rem;
}

.level-1__area-2-subtext:hover {
  color: #aaa;
}

.level-1__area-2-movements {
  background-color: #000;
  color: #fff;
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 2rem;
  letter-spacing: 1rem;
  color: #aaa;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .level-1__area-2-movements {
    font-size: 1rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .level-1__area-2-movements {
    padding: 0.5rem 1rem;
    position: absolute;
    left: auto;
    top: -2.2rem;
    right: 0;
    bottom: auto;
  }
}

.level-1__area-2lt:hover {
  background-color: #aaa;
}

.active #two {
  opacity: 0;
}

.active #one {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.active #three {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.level-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35vh;
}

@media only screen and (max-width: 600px) {
  .level-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    margin-top: 10rem;
  }
}

.level-2-img1 {
  width: 31.3%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .level-2-img1 {
    width: 100%;
  }
}

.level-2-img2 {
  width: 32.3%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .level-2-img2 {
    width: 100%;
  }
}

.level-2__desc {
  padding: 2rem;
  width: 37.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 900px) {
  .level-2__desc {
    width: 33%;
    padding: 2rem 1rem;
    line-height: 1.1;
  }
}

.level-2__desc-header {
  text-transform: uppercase;
  padding: 1rem 0;
  letter-spacing: 0.3rem;
}

@media only screen and (max-width: 900px) {
  .level-2__desc-header {
    font-size: 0.71rem;
    margin-bottom: 0.1rem;
  }
}

.level-2__desc-text {
  color: #9b9999;
  line-height: 1.4;
  font-size: 0.7rem;
}

@media only screen and (max-width: 900px) {
  .level-2__desc {
    line-height: 1.1;
  }
}

@media only screen and (max-width: 600px) {
  .level-2__desc {
    width: 93%;
    line-height: 1.6;
  }
}

.hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */